# Binaries
/bin/
/build/
/dist/

# Go modules
/vendor/
/go.sum
*.log

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# dotenv / secrets
config/prod.yaml
.env
.env.*.local

# DB
*.db

# Swagger generated
docs/swagger/*
